.App {
  background: linear-gradient(180deg, #0e0830 0%, #2e3b6a 100%);
  margin: 0;
  height: 500vh;

  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}