#cursor {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 30px solid rgba($color: #dfff2c, $alpha: 0.03);
  background-color: rgba($color: #ffffff, $alpha: 0.1);
}